* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: antiquewhite;
}

body {
  font-family: "Open Sans", serif;
  background: linear-gradient(to right, #e67e22, #f1919d);
  height: 100%;
  padding: 30px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  min-width: 500px;
}

.main-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  background: #777;
}

/* Media queries: (TABLET): 768px */
@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
  }
}

/* Media queries: (SMALL SMARTPHONES): 425px */
@media screen and (max-width: 425px) {
  .card {
    max-width: 300px;
  }
}

/* Webkit Scrollbar */
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #777; 
}
::-webkit-scrollbar-thumb:hover {
  background: #48a597; 
}
